<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="headerleft">
<%= image_tag @weather, :width => "100" %>
</div>

<div id="headerright">
</div>

<div id="main">
	<br />
	<h1>SolarWash-Infoseite</h1>
	<div id="graph_with_buttons">
	  <%= image_tag "/graph/show", :width => "500", :id => "graph"%>
	</div>
	          <div id="navigation">
           <div><%= link_to(image_tag("sq_plus_icon.png"),{:controller => "graph", :action => "zoom_in_graph"}, :remote => true)%></div>
           <div><%= link_to(image_tag("sq_minus_icon.png"),{:controller => "graph", :action => "zoom_out_graph"}, :remote => true)%></div>
           <div><%= link_to(image_tag("sq_br_next.png"),{:controller => "graph", :action => "scope_to_past_graph"}, :remote => true)%></div>
           <div><%= link_to(image_tag("sq_br_prev.png"),{:controller => "graph", :action => "scope_to_future_graph"}, :remote => true)%></div>
          </div>

</div>

<div id="footer">
</div>

<% "home.html" %>
